<div class="row mt-5">
  <div class="col-md-10 mx-auto">
    <h3>本当に退会しますか？</h3>
    <p>
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。<br>
    </p>
    <%= link_to "退会しない", end_users_mypage_path, class: "btn btn-sm btn-primary col-md-2" %>
    <%= link_to "退会する", end_users_withdrow_path, method: :patch, data: { confirm: '本当に退会しますか？' }, class: "btn btn-sm btn-danger col-md-2" %>
  </div>
</div>
