<div class="row mt-5">
  <div class="col-md-8">
    <h3 class="mb-5">ジャンル編集</h3>
    <div class="input mb-5">
      <%= form_with model: @genre, url: admin_genre_path(@genre), local:true do |f| %>
        <span>ジャンル名</span> <%= f.text_field :name %>
        <%= f.submit '変更を保存', class: "btn btn-success btn-sm" %>
      <% end %>
    </div>
  </div>
</div>