<div class="row mt-5">
  <div class="col-md-10 mx-auto">
    <h3 class="mb-5">商品一覧</h3>
    <div class="row item-group">
      <% @items.each do |item| %>
        <div class="col-md-3">
          <%= link_to item_path(item) do %>
            <p><%= attachment_image_tag item, :image, format: 'jpg', fallback: "cake.jpg", size: "200x133" %></p>
            <p><%= item.name %></p>
            <p>¥<%= item.price %></p>  
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>